.mangasContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 10px;
  width: 100%;
  height: auto;
}

.mangasContainer__button {
  grid-column: span 2;
}
