.fileModal {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  background: rgba(2, 2, 2, 0.9);
  color: #f1f1f1;
  padding: 20px;
}

.fileModal::-webkit-scrollbar {
  display: none;
}

.fileModal > .fileModal__closeButton {
  z-index: 999;
  background: #2957ba;
  position: fixed;
  right: 10px;
  top: 10px;
  width: 45px;
  height: 45px;
  color: #f1f1f1;
  border-radius: 2px;
}

.fileModal > .fileModal__closeButton > .closeIcon {
  color: #f1f1f1;
}

.fileModal__container {
  position: relative;
  width: auto;
  height: auto;
  background: #222;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 2px;
  padding: 10px;
  z-index: -2;
}

.fileModal__container > .colorCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  z-index: -1;
}

.fileModal__container > .fileModal__type {
  display: inline-block;
  width: 75%;
  margin: auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-radius: 2px;
  text-shadow: 1px 1px 0 #000;
}

.fileModal__container > .fileModal__image-container {
  height: 280px;
  width: 75%;
  margin: auto;
  position: relative;
  border-radius: 2px;
  border-radius: 2px;
}

.fileModal__container > .fileModal__image-container > span {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 2px;
  padding: 3px 5px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  font-size: large;
}

.fileModal__container > .fileModal__image-container > span > .MuiSvgIcon-root {
  color: #ffdc5e;
  font-size: x-large;
  margin-right: 10px;
}

.fileModal__container > .fileModal__image-container > .fileModal__image {
  width: 100%;
  height: 100%;
}
.fileModal__container > .fileModal__image-container > .fileModal__demography {
  position: absolute;
  z-index: 990;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  color: #f1f1f1;
}
.fileModal__container
  > .fileModal__image-container
  > .fileModal__demography
  > span {
  font-size: x-large;
  text-shadow: 1px 1px 0 #000;
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
}

.fileModal__container
  > .fileModal__image-container
  > .fileModal__demography
  > .MuiSvgIcon-root {
  font-size: xx-large;
  position: absolute;
  left: 10px;
}

.fileModal__container > .fileModal__title {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
  height: auto;
}

.fileModal__container > .fileModal__title > h2 {
  font-size: xx-large;
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fileModal__container > .fileModal__rating {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.fileModal__container
  > .fileModal__rating
  > .fileModal__rating--buttons
  > .MuiIconButton-root {
  width: 35px;
  height: 35px;
  padding: 10px;
}

.fileModal__container > .fileModal__description {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 10px;
}

.fileModal__container > .fileModal__description > p {
  width: 100%;
  height: auto;
  max-height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: large;
  text-align: justify;
}

.fileModal__container > .fileModal__description > p::-webkit-scrollbar {
  display: none;
}

.fileModal__container > .fileModal__tags,
.fileModal__status {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.fileModal__container > .fileModal__tags > h4,
.fileModal__status > h4,
.fileModal__description > h4 {
  color: #222;
  font-size: large;
  font-weight: normal;
  margin-bottom: 3px;
  display: inline-block;
  width: 100%;
}

.fileModal__container > .fileModal__tags > span {
  color: #f1f1f1;
  background: #2957ba;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 10px;
  border-radius: 2px;
}

.fileModal__container > .fileModal__status > span {
  display: flex;
  align-items: center;
  font-size: large;
}

.fileModal__container > .fileModal__status > span > .MuiSvgIcon-root {
  margin-right: 5px;
}

.fileModal__container > a {
  display: inline-block;
  width: 100%;
  height: auto;
  background: #2957ba;
  text-decoration: none;
  font-size: medium;
  text-align: center;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 2px;
  color: #f1f1f1;
}

@media only screen and (min-width: 375px) {
  .fileModal {
    padding: 30px;
  }
  .fileModal__container > .fileModal__type {
    height: 35px;
  }
  .fileModal__container > .fileModal__image-container {
    height: 320px;
  }
  .fileModal__container
    > .fileModal__image-container
    > .fileModal__demography
    > .MuiSvgIcon-root {
    left: 15px;
  }
}
@media only screen and (min-width: 425px) {
  .fileModal {
    padding: 45px;
  }
  .fileModal__container > .fileModal__image-container {
    height: 340px;
  }
  .fileModal__container
    > .fileModal__image-container
    > .fileModal__demography
    > .MuiSvgIcon-root {
    left: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .fileModal__container {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    grid-template-areas:
      "type type type type title title title title title title title title"
      "image image image image desc desc desc desc desc desc desc desc"
      "tags tags tags tags tags tags tags tags tags tags tags tags"
      "status status status status status status status status status status status status"
      "button button button button button button button button button button button button";
  }
  .fileModal__container > .fileModal__type {
    grid-area: type;
    width: 100%;
    height: 35px;
    font-size: x-large;
    margin-bottom: 10px;
    margin: 0;
  }
  .fileModal__container > .fileModal__image-container {
    grid-area: image;
    height: auto;
    width: 100%;
    position: relative;
    border-radius: 2px;
    margin-top: 0;
  }
  .fileModal__container
    > .fileModal__image-container
    > .fileModal__demography
    > .MuiSvgIcon-root {
    left: 25px;
  }
  .fileModal__container > .fileModal__title {
    grid-area: title;
    text-align: center;
    margin: 0;
  }
  .fileModal__container > .fileModal__description {
    grid-area: desc;
    margin: 0;
    height: 100%;
    width: 100%;
  }
  .fileModal__container > .fileModal__description > p {
    max-height: unset;
    height: 100%;
    border-radius: 2px;
    padding: 5px;
  }
  .fileModal__container > .fileModal__tags {
    grid-area: tags;
    margin: 0;
  }
  .fileModal__container > .fileModal__tags > span,
  .fileModal__container > .fileModal__status > span {
    font-size: larger;
  }
  .fileModal__container > .fileModal__status {
    grid-area: status;
    margin: 0;
  }
  .fileModal__container > a {
    grid-area: button;
    margin: 0;
  }
  .fileModal__container > .fileModal__tags > h4,
  .fileModal__status > h4,
  .fileModal__description > h4 {
    font-size: x-large;
  }
}
@media only screen and (min-width: 1024px) {
  .fileModal__container {
    width: 85%;
  }
}
@media only screen and (min-width: 1440px) {
  .fileModal__container {
    width: 65%;
    height: auto;
  }
  .fileModal__container > .fileModal__type {
    height: 45px;
    font-size: xx-large;
  }
  .fileModal__container > .fileModal__image-container > span {
    font-size: x-large;
  }
  .fileModal__container
    > .fileModal__image-container
    > span
    > .MuiSvgIcon-root {
    font-size: xx-large;
  }
  .fileModal__container > .fileModal__image-container > .fileModal__demography {
    height: 55px;
  }
  .fileModal__container
    > .fileModal__image-container
    > .fileModal__demography
    > span {
    font-size: xx-large;
  }
  .fileModal__container
    > .fileModal__image-container
    > .fileModal__demography
    > .MuiSvgIcon-root {
    font-size: 40px;
    left: 50px;
  }
  .fileModal__container > .fileModal__title {
    font-size: xx-large;
  }
  .fileModal__container > .fileModal__description > p {
    font-size: x-large;
  }
  .fileModal__container > .fileModal__tags > span,
  .fileModal__container > .fileModal__status > span {
    font-size: x-large;
  }
  .fileModal__container > .fileModal__status > span > .MuiSvgIcon-root {
    font-size: xx-large;
  }
  .fileModal__container > a {
    font-size: x-large;
  }
}
