.userProfile__edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  min-height: 300px;
  position: relative;
  border-top: 2px solid #929a9e;
  border-bottom: 2px solid #929a9e;
  padding-top: 10px;
  margin-bottom: 20px;
}

.userProfile__edit > .userProfile__edit__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  width: 100%;
}

.userProfile__edit > .userProfile__edit__header > h1 {
  display: inline-block;
  font-size: xx-large;
  color: #2957ba;
  font-weight: 400;
}

.userProfile__edit > .userProfile__edit__header > .MuiIconButton-root {
  width: 35px;
  height: 35px;
  padding: 10px;
  color: #929a9e;
}

.userProfile__edit > form > label {
  display: inline-block;
  width: fit-content;
  color: #929a9e;
  font-size: large;
  margin-top: 15px;
  margin-bottom: 5px;
  border-left: 2px solid #2957ba;
  padding-left: 7px;
}

.userProfile__edit > form > #image {
  color: #929a9e;
}

.userProfile__edit > form > button {
  margin-top: 15px;
  background: #2957ba;
  color: #f1f1f1;
  font-size: medium;
  width: 100%;
  margin-bottom: 5px;
}

.userProfile__edit > form > button:hover {
  background: #1b3879;
}

@media only screen and (min-width: 375px) {
  .userProfile__edit > form > label {
    font-size: larger;
  }
}
@media only screen and (min-width: 768px) {
  .userProfile__edit > form,
  .userProfile__edit > .userProfile__edit__header {
    width: 70%;
    margin: auto;
  }
  .userProfile__edit > form > .MuiInputBase-root {
    font-size: larger;
  }
}
