.userProfile__container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 20px 0;
  position: relative;
}

.userProfile__data {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}

.userProfile__container > h4,
.userProfile__data > h4 {
  color: #929a9e;
  font-size: large;
  font-weight: normal;
  margin-bottom: 5px;
  display: inline-block;
  width: 100%;
  margin-top: 15px;
}

.userProfile__data > span {
  height: 35px;
  width: 70%;
  margin: auto;
  color: #f1f1f1;
  background: #2957ba;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  text-transform: uppercase;
  font-weight: normal;
}

.userProfile__data > img {
  margin: 10px auto;
  width: 70%;
  height: 70%;
}

.userProfile__data > h2 {
  height: auto;
  width: 100%;
  font-size: xx-large;
  font-weight: normal;
  color: #f1f1f1;
}

.userProfile__container > button {
  width: 100%;
  background: #f89406;
  color: #000;
  font-size: medium;
}

.userProfile__container > .MuiButton-contained:hover {
  background: #d17c05;
}

@media only screen and (min-width: 375px) {
  .userProfile__container > h4,
  .userProfile__data > h4 {
    font-size: larger;
  }
}

@media only screen and (min-width: 768px) {
  .userProfile__data {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .userProfile__data > span {
    height: 35px;
    width: 30%;
  }
  .userProfile__data > img {
    margin: 10px auto;
    width: 30%;
    height: 30%;
  }
  .userProfile__container > h4,
  .userProfile__data > h4 {
    font-size: x-large;
  }
}
