.header {
  height: 55px;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background: #343a40;
  border-radius: 2px;
}

.header__title > a {
  font-size: large;
  font-weight: lighter;
  color: #2957ba;
  text-decoration: none;
  cursor: pointer;
}

.header__title > a > span:nth-child(3) {
  font-style: italic;
}

.header__title > a > strong {
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
  font-style: normal;
}

.header > .MuiSvgIcon-root {
  color: #929a9e;
  font-size: xx-large;
  border-radius: 100%;
  padding: 2px;
}

/* ------------------------------HEADER NAV------------------------------ */
.header > form,
.header > .header__uploadBtn,
.header__nav {
  display: none;
}

@media only screen and (min-width: 375px) {
  .header {
    height: 60px;
  }
  .header > .MuiSvgIcon-root {
    font-size: 35px;
  }
}

@media only screen and (min-width: 425px) {
  .header {
    height: 60px;
  }
  .header > .MuiSvgIcon-root {
    font-size: 35px;
  }

  .header__title > a {
    font-size: larger;
  }
}

@media only screen and (min-width: 768px) {
  .header {
    height: 65px;
  }
  .header__title > a {
    font-size: x-large;
  }
  .header__title > a > strong {
    font-size: x-large;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    padding: 20px 15px;
  }
  .header > .MuiSvgIcon-root {
    display: none;
  }
  .header > form {
    display: inline-block;
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 7px 10px;
    border-radius: 2px;
    background: #f1f1f1;
  }

  .header > form > input {
    border: none;
    font-size: medium;
    width: 100%;
    background: transparent;
    color: #000;
    outline: none;
  }

  .header > form > input::placeholder {
    color: #929a9e;
  }

  .header > .header__uploadBtn {
    display: inline-flex;
    background: #2957ba;
    color: #f1f1f1;
    width: 120px;
  }

  .header > .header__uploadBtn:hover {
    background: #1b3879;
  }

  .header__nav,
  .header__userBtn,
  .header__signBtnsContainer {
    display: flex;
    align-items: center;
    position: relative;
  }

  /* ----- USER BUTTONS ----- */
  .header__userBtn > .MuiAvatar-circle {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
  }
  .header__userBtn > button,
  .header__userBtn > button > span {
    background: none;
    border: none;
    color: #f1f1f1;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__userBtn > button > .MuiSvgIcon-root {
    font-size: x-large;
    transform: rotate(90deg);
  }

  /* ----- SIGN BUTTONS ----- */
  .header__signBtnsContainer {
    column-gap: 10px;
  }
  .header__signBtnsContainer > .header__signBtn {
    width: auto;
    height: auto;
    padding: 5px 10px;
    color: #f1f1f1;
    background: #2957ba;
    border-radius: 2px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: medium;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
      0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  }

  /* ----- USER MENU ----- */
  .header__userMenu {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(105%);
    display: flex;
    flex-direction: column;
    width: 180px;
    height: auto;
    background: #343a40;
    padding: 10px;
    z-index: 800;
  }

  .header__userMenu > a,
  .header__userMenu > span {
    font-size: larger;
    text-decoration: none;
    color: #929a9e;
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    transition: 0.3s;
  }

  .header__userMenu > a > .MuiSvgIcon-root {
    margin-right: 5px;
  }

  .header__userMenu > a:hover,
  .header__userMenu > span:hover {
    color: #f1f1f1;
    border-left: 3px solid #2957ba;
    padding-left: 10px;
  }
}
