.section {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  text-decoration: none;
}

.section > .MuiSvgIcon-root {
  font-size: larger;
  color: #2957ba;
  margin-right: 5px;
}

.section > h4 {
  color: #2957ba;
  font-weight: lighter;
  text-align: center;
  font-size: 14px;
}

@media only screen and (min-width: 375px) {
  .section > h4 {
    font-size: large;
  }
  .section > .MuiSvgIcon-root {
    font-size: x-large;
  }
}
@media only screen and (min-width: 425px) {
  .section > .MuiSvgIcon-root {
    font-size: x-large;
  }
}
