.userProfileListsContainer,
.userProfileUploadsListsContainer {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 80px;
  text-align: center;
  margin: 10px 0;
}

.userProfileUploadsListsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.userProfileListsContainer > button {
  margin-bottom: 10px;
}

.userProfileUploadsListsContainer > button {
  margin-bottom: 10px;
}

.userProfileListsContainer > button,
.userProfileUploadsListsContainer > button {
  width: 100%;
  height: auto;
  background: #bd362f;
  color: #f1f1f1;
}

.userProfileListsContainer > button:hover,
.userProfileUploadsListsContainer > button:hover {
  background: hsl(3, 30%, 64%);
  color: rgb(207, 207, 207);
}

.emptyList {
  width: calc(100% - 16px);
  height: auto;
  margin: 10px auto 0;
  background: #343a40;
  color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.emptyList > h3 {
  font-size: larger;
  font-weight: normal;
}

@media only screen and (min-width: 768px) {
  .userProfileListsContainer > button,
  .userProfileUploadsListsContainer > button {
    height: 40px;
    font-size: large;
  }
}
@media only screen and (min-width: 1440px) {
  .userProfileListsContainer > button,
  .userProfileUploadsListsContainer > button {
    height: 50px;
    font-size: x-large;
  }
  .emptyList {
    padding: 15px;
  }
  .emptyList > h3 {
    font-size: x-large;
  }
}
