.userProfileListsContainer,
.userProfileUploadsListsContainer {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 80px;
  text-align: center;
  margin: 10px 0;
}

.userProfileUploadsListsContainer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.userProfileListsContainer > button,
.userProfileUploadsListsContainer > button {
  width: 100%;
  height: auto;
  background: #bd362f;
  color: #f1f1f1;
  margin-bottom: 5px;
}

.userProfileListsContainer > button:hover,
.userProfileUploadsListsContainer > button:hover {
  background: hsl(3, 30%, 64%);
  color: rgb(207, 207, 207);
}
