.app {
  width: 100%;
  height: 100vh;
  padding: 9vh 10px 10px 10px;
  position: relative;
}

.alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: auto;
  max-width: 400px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: #2957ba;
}

.alert > p {
  font-size: x-large;
  letter-spacing: 1px;
  color: #dddddd;
}

@media only screen and (min-width: 425px) {
  .app {
    padding: 10vh 20px 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .app {
    padding: 10vh 20px 20px;
  }
}
@media only screen and (min-width: 1440px) {
  .app {
    padding: 10vh 80px 20px;
  }
}
