body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

body > .MuiPopover-root > .MuiPaper-root > .MuiList-root {
  max-height: "317px";
}

body > .MuiPopover-root > .MuiPaper-root > .MuiList-padding {
  padding-top: 0;
  padding-bottom: 0;
}

body > .MuiPopover-root > .MuiPaper-root > .MuiList-root > .MuiListItem-root {
  margin: 5px;
  border-radius: 2px;
}

body
  > .MuiPopover-root
  > .MuiPaper-root
  > .MuiList-root
  > .MuiListItem-root.Mui-selected {
  background: rgba(0, 0, 0, 0.452);
}
