.itemsSectionsContainer {
  width: 100%;
  height: auto;
  background: #f1f1f1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  border-radius: 2px;
}

.uploadsItemsContainer {
  width: 100%;
  height: auto;
  border-radius: 2px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.itemsSectionsContainer > .MuiButtonBase-root,
.uploadsItemsContainer > .MuiButtonBase-root {
  background: transparent;
  color: #1d1d1d;
  display: inline-block;
  font-size: 9px;
  width: auto;
  font-weight: normal;
  box-shadow: none;
  position: relative;
}

.uploadsItemsContainer > .MuiButtonBase-root {
  font-size: small;
}

.itemsSectionsContainer > .MuiButtonBase-root:hover,
.uploadsItemsContainer > .MuiButtonBase-root:hover {
  background: rgba(0, 0, 0, 0.2);
}

.itemsSectionsContainer > .MuiButtonBase-root > span {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: x-small;
  color: #bfbfbf;
  row-gap: 3px;
}

.itemsSectionsContainer > .MuiButtonBase-root > span > .MuiSvgIcon-root {
  font-size: xx-large;
}

@media only screen and (min-width: 375px) {
  .itemsSectionsContainer > .MuiButtonBase-root > span {
    font-size: small;
  }
  .uploadsItemsContainer > .MuiButtonBase-root {
    font-size: medium;
  }
}

@media only screen and (min-width: 768px) {
  .itemsSectionsContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media only screen and (min-width: 1440px) {
  .itemsSectionsContainer > .MuiButtonBase-root > span {
    font-size: large;
  }
  .itemsSectionsContainer > .MuiButtonBase-root > span > .MuiSvgIcon-root {
    font-size: 40px;
  }
  .uploadsItemsContainer > .MuiButtonBase-root > span {
    font-size: x-large;
  }
}
